.bottom {
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  
    text-align: center;
    
    
    font-style: Medium;
    font-size: 12px;
  
    z-index: 1;
    position: absolute;
    margin: 10% 20px;
  }