.photo {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    z-index: 999;
    height: 106px;
    width: 100px;
  }

.text-header{
  text-align: center;
}
.center {
    text-align: center;
    align-content: center;
   
  }


.text {
    font-family: Roboto-Medium !important;
    font-size: 20px

  }
  

  
 
  
  ion-menu {
    background-color: #E5E5E5 !important;
  }
  
  
  
  ion-header::after {
    background-image: none;
  }
  
  .red {
    color: var(--ion-color-danger);
  }
  
  .Logo {
    margin: 0px;
    padding: 0px;
    margin-right: 12px !important;
    font-size: 65px;
  }

  .language {
    margin: 0px;
    padding: 0px;
    margin-right: 12px !important;
    font-size: 65px;
  }
  
  .bottom {
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  
    text-align: center;
    color: var(--ion-color-dark);
  
    font-family: 'Apercu Regular';
    font-style: normal;
    font-size: 12px;
  
    padding-bottom: 21px;
  
    z-index: 1;
    position: absolute;
  }

  .logoMadein {
    width: 25%;
    margin: 15px 5px;
  }