  <ion-toolbar class="ion-header-toolbar" *ngIf="!has_back_button">
    <ion-title *ngIf="!has_back_button" style="color: white;">Olá {{ username }}</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="menu" style="color: white;"></ion-icon></ion-button>  
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar class="ion-header-toolbar" *ngIf="has_back_button">
    <ion-buttons slot="start">
      <ion-button><ion-icon name="arrow-back-outline" style="color: white;"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="menu" style="color: white;"></ion-icon></ion-button>  
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: white;">{{ title }}</ion-title>
  </ion-toolbar>  
