<ion-content>
  <ion-grid>

    <ion-row><img src="./../../../../assets/icon/um.png" id="imgPlacement"  style="align-items: center"></ion-row>
    <ion-row style="margin-bottom: 10px;"><ion-label class="title">Universidade do Minho</ion-label></ion-row>
    <ion-row><ion-label class="subtitle">Bem vindo à aplicação UMId</ion-label></ion-row>

  

  
    <ion-row style="margin-top: 15px;">
      <ion-col class="text begin-section black">
        <span class="subsubtitle">
          Esta aplicação é uma versão móvel e digital do Cartão do Estudante.
        </span>
        <div class="element">
          <span> Registo: </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="begin-section">
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon class="number one" src="/assets/icon/auth/1.svg"></ion-icon>
          <ion-label class="text ion-text-wrap tp">
            Definir código de acesso a aplicação <br/>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="element">
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon class="number" src="/assets/icon/auth/2.svg"></ion-icon>
            <ion-text class="text ion-text-wrap tp">Obtenha a seu Cartão com as credenciais da UM </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button class="next" (click)="moveForward()" style="width: 100%">
    Avançar
  </ion-button>
</ion-footer>
