<ion-content>
  <ion-grid>
    <ion-row> <p class="title">Bem vindo à aplicação </p></ion-row>
   
    <ion-row> <span class="subtitle"> UMId</span></ion-row>
    
  

  
    <ion-row>
      <ion-col class="text begin-section black">
        <span class="subsubtitle">
          Esta aplicação é uma versão móvel e digital do Cartão do Estudante.
        </span>
        <div class="element">
          <span> Registo: </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="begin-section">
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon class="number one" src="/assets/icon/auth/1.svg"></ion-icon>
          <ion-label class="text ion-text-wrap tp">
            Definir código de acesso a aplicação <br />
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="element">
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon class="number" src="/assets/icon/auth/2.svg"></ion-icon>
          <ion-label class="text ion-text-wrap tp">
            Obtenha a seu Cartão com as credências da UM
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button class="text next" (click)="moveForward()" full expand="block">
    Avançar
  </ion-button>
</ion-footer>
