
#imgPlacement{
    width: 110px;
    height: 75px;
    margin-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.inputElement{
    border-radius: 8px;
    background-color: aliceblue;
    width: 303px;
    height: 53;
    margin-top: 11px;
}

.title{
    font-size: 20px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle{
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.subsubtitle{
    font-size: 13px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.inputText{
    font-size: 18px;
    margin-top: 38px;
}

ion-button{
    margin-top: 60px;
}