  <ion-virtual-scroll [items]="items">

    <ion-card *virtualItem="let item" color="light">
      
      <div *ngIf="(card_type === 'payments' || card_type === 'paid')">
        <ion-item lines="none" color="light">
        <ion-grid>
          <ion-row>
            <ion-icon name="wallet" size="large" class="pay_card" color="medium"></ion-icon>
            <ion-grid>
              <ion-row>
                <ion-card-header style="margin-bottom: 10px;">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-card-subtitle mode="md" class="text_title">{{ item.value}} € </ion-card-subtitle>
                      </ion-col>
                      <ion-col>
                        
                        <div class="paid"  *ngIf="card_type === 'paid' ">
                                <ion-icon name="checkmark"  class="icon_min" color = "#ffffff" ></ion-icon>PAGO
                          </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                 
                  <ion-card-subtitle mode="md" class="text_subtitle ion-text-wrap" color="medium" > {{ item.n_propinas }}
                  </ion-card-subtitle>
                  <ion-card-subtitle mode="md" class="text_subtitle ion-text-wrap" color="medium" > {{ item.ano }}
                  </ion-card-subtitle>
                  <ion-card-subtitle mode="md" class="text_subtitle ion-text-wrap" color="medium" >

                    <ion-col>
                      <ion-icon name="calendar-outline" size="large" color="medium" class="icon_min"></ion-icon>
                      <ion-col class="text_valid" class="text_subtitle">{{ item.valid }} </ion-col>
                    </ion-col>
                  </ion-card-subtitle>
                  </ion-card-header>
              </ion-row>
            </ion-grid>
          </ion-row>
          <ion-row align-items-center>
            <ion-button style="--background:#8D3731"  class="bottom" (click)="goPay()" *ngIf="card_type === 'payments' ">
              Pagar
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-item>
      </div>

    </ion-card>
  </ion-virtual-scroll>

