<ion-header>
  <app-header-menu
    [title]=view_name
    [has_back_button]=has_back_button
    [username]=first_name
    (goback)="goBack($event)">
    </app-header-menu>
</ion-header>

<ion-content>

  <!--app-cards
  [card_type]=card_type
  [items]=items
  (eventEmitter)="goBack($event)"
  >
  </app-cards-->

  <app-searchticks
  [card_type]=card_type
  [items]=items
  ></app-searchticks>

  <!--app-cantinacard
  [card_type]=card_type
  [items]=items
  ></app-cantinacard-->

  
    
</ion-content>
      
<app-footer-tab 
  [show_counter]=show_counter
  [quantity]=quantity
  [prod_name]=prod_name
  [operation_name]=operation_name
  (eventEmitter)="goBack($event)"
></app-footer-tab>



