.text_title{
    font-size: 18;
    font-style: "Medium";
    font-weight: bold;
}

.text_subtitle{
    font-size: 14px;
    font-style: "Medium";
    font-weight: normal;
}


.notify_card {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 36px;
    width: 36px;
  }


.red{
    color: #FD1405;
    font-size: 14px;
    font-style: "Medium";
    font-weight: normal;
    margin-left: 30%;
 }

.green {
 color: #23BD61;
 font-size: 14px;
 font-style: "Medium";
 font-weight: normal;
 margin-left: 30%;
}

.yellow{
 color: #F8FD05;
 font-size: 14px;
 font-style: "Medium";
font-weight: normal;
margin-left: 30%;
}