ion-segment-button {
    --color-checked: #c93347;
}

.text_confirm { 
    font-style: Medium;
    font-weight: bold; 
    font-size: 16px;
}

.confirm_button {
    height: 45px;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
  }


.popover-content {
    --min-width: 100%;
}

.text_select{
    font-size: 18px;
    color:#989AA2 ;
    text-align: center;
    margin-left: 30px;
    font-family: Roboto-Regular!important;
    
}
.image{
    width:135px ;
    margin-left: 33px;
    margin-bottom: 24px ;
    height: 100%;

}

.option{
    display: flex; /* coloca as imagens uma ao lado da outra */
    
    justify-content: center; /* alinha as imagens no centro da tela */

    
}
.menu{
    background-color:#4A4949 ;
}
