  .card {
    margin-bottom: 10px;
    margin-top: 20px;
    font-style: Medium; 
    font-weight: bold;
    font-size: 22px;
  }

  .text_add_button { 
    font-style: Medium;
    font-weight: bold;
    color: white;
    font-size: 14px;
  }
  
  .add_button {
    height: 40px;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
  }
  
  .type {
    display: flex;
    justify-content: center;
  }
  
  ion-select{
    font-size: 16px;
    max-width: 100% !important;
    justify-content: center;
    color: black;
  }

  .main_menu {
    margin-bottom: 15px;
    margin-top: 20px;
    font-style: Medium;
    font-weight: bold;
    font-size: 22px;
  }
  
  .reservation_card {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 80px;
    width: 80px;
  }

  ion-card-subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  ion-card-content {
    margin-top: 0px;
  }

  .card_schedule{
    font-size: 15px;
  }

  /* Aqui css dos cartoes de senha*/
  ion-card-content {
    margin-top: 0px;
  }

  ion-card-subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .pay_card {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 80px;
    width: 80px;
  }

  .paid {
    height: 40px;
    width: 100px;
    align-items: center;
    border-radius: 4px;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    background-color: green;
  }


  .bottom {

    width: 112px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    align-content: center;
    border-radius: 4px;
    
    
  }

  .text_title{
      font-size: 18;
      font-style: "Medium";
      font-weight: bold;
  }
  .text_tile_sub{
    font-size: 18;
    font-style: "Medium";
    font-weight: normal;

  }

  .text_subtitle{
      font-size: 14px;
      font-style: "Regular";
      font-weight: normal;
  }


  .text_alert{
    font-size: 14px;
    font-style: "Regular";
    font-weight: bold;
    color: #FD1405;
}

  .icon_min{
      width: 15px;
      height: 15px;
      margin-right:5px;
  }

  ion-input{
    border-radius: 5px !important;
    padding-right: 30px;
    font-size: 18px;
    border: 1px solid #f1f1f1 !important;
    color: black;
    --background:#FFFFFF ;
    width: 87px;
    height: 37px;
   // max-width: 50vw; // this is applying perfectly
   // max-height: 10vh;
}
  

/* Notificacoes */

.text_title{
  font-size: 18;
  font-style: "Medium";
  font-weight: bold;
}

.text_subtitle{
  font-size: 14px;
  font-style: "Medium";
  font-weight: normal;
}


.notify_card {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  height: 36px;
  width: 36px;
}


.red{
  color: #FD1405;
  font-size: 14px;
  font-style: "Medium";
  font-weight: normal;
  margin-left: 30%;
}

.green {
color: #23BD61;
font-size: 14px;
font-style: "Medium";
font-weight: normal;
margin-left: 30%;
}

.yellow{
color: #AB0BD2;
font-size: 14px;
font-style: "Medium";
font-weight: normal;
margin-left: 30%;
}

/* Cartoes de Pagamentos */

ion-card-content {
  margin-top: 0px;
}

ion-card-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pay_card {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  height: 80px;
  width: 80px;
}

.paid {
  height: 20px;
  width: 50px;
  align-items: center;
  border-radius: 4px;
  text-align: left;
  font-size: 10px;
  font-style: "Medium";
  margin-left: 80%;
  font-weight: "Medium";
  background-color: green;
  color: aliceblue;
}


.bottomPayments {
  width: 80%;
  height: 46px;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;
  align-content: center;
  border-radius: 4px;
  background: #D1281B;
}

.text_title{
    font-size: 18;
    font-style: "Medium";
    font-weight: bold;
}

.text_subtitle{
    font-size: 14px;
    font-style: "Regular";
    font-weight: normal;
}


.icon_min{
    width: 15px;
    height: 15px;
    margin-right:5px;
}

/* Finalizacao de pagamento*/
.information-pay{
  margin-top: 30px;

}

#header{
  font-weight: bold;
  font-size: 18px;
  font-style: "Medium";
  font-weight: bold;
  

}

#line{ 
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 10px;;
}

.element{
  font-size: 14px;
  text-align: center;
  font-style: normal;
  font-weight: medium;
}
