<!-- secção de verificação -->
<div class="icon-stack check" *ngIf="icon_name == 'verificar senha'">
  <ion-icon name="ticket" size="large" class="primary-icon"></ion-icon>
  <ion-icon name="checkmark-done" size="small" color="success" class="secondary-icon"></ion-icon>
</div>

<div class="icon-stack check" *ngIf="icon_name == 'verificar identidade'">
  <ion-icon name="card" size="large" class="primary-icon"></ion-icon>
  <ion-icon name="checkmark-done" size="small" color="success" class="secondary-icon card-icon"></ion-icon>
</div>

<div class="icon-stack check" *ngIf="icon_name == 'verificar reserva'">
  <ion-icon name="calendar-outline" size="large" class="primary-icon"></ion-icon>
  <ion-icon name="checkmark-done" size="small" color="success" class="secondary-icon"></ion-icon>
</div>

<!-- secção especial de reservas -->
<div class="icon-stack check" *ngIf="icon_name == 'proximas reservas'" >
  <ion-icon name="calendar-outline" size="large" class="primary-icon"></ion-icon>
  <ion-icon name="pencil" size="large" class="search-icon um-color pencil-icon"></ion-icon>
</div>

<!-- secção especial de senhas -->
<div class="icon-stack check" *ngIf="icon_name == 'pesquisar senhas'">
  <ion-icon name="ticket" size="large" class="primary-icon"></ion-icon>
  <ion-icon name="search-sharp" size="large" class="search-icon um-color"></ion-icon>
</div>

<div class="icon-stack check" *ngIf="icon_name == 'comprar senhas'">
  <ion-icon name="ticket" size="large" class="primary-icon"></ion-icon>
  <ion-icon name="wallet" size="small" class="secondary-icon um-color"></ion-icon>
</div>

<!-- secção geral -->
<div class="icon-stack check" *ngIf="icon_name == 'senha'">
  <ion-icon name="ticket" size="large" class="primary-icon"></ion-icon>
</div>

<div class="icon-stack check" *ngIf="icon_name == 'cartao'">
  <ion-icon name="card" size="large" class="primary-icon"></ion-icon>
</div>

<div class="icon-stack check" *ngIf="icon_name == 'calendario'">
  <ion-icon name="calendar-outline" size="large" class="primary-icon"></ion-icon>
</div>

<div class="icon-stack check" *ngIf="icon_name == 'biblioteca'">
  <ion-icon name="library" size="large" class="primary-icon"></ion-icon>
</div>

<div class="icon-stack check" *ngIf="icon_name == 'carteira'">
  <ion-icon name="wallet" size="large" class="primary-icon"></ion-icon>
</div>

<div class="icon-stack check" *ngIf="icon_name == 'perfil'">
  <ion-icon name="person-circle" size="large" class="primary-icon"></ion-icon>
</div>


