<ion-header>
  <app-header-menu
    [title]=view_name
    [has_back_button]=has_back_button
    [username]=first_name
    (goback)="goBack($event)">
    </app-header-menu>
</ion-header>

<!-- *ngIf="createdCode && qr" -->
<ion-content>
  <app-qrcode 
  *ngIf="dataLoaded"
  [createdCode]="createdCode"
  [data_name]="data_name"
  ></app-qrcode>
</ion-content>

<app-footer-tab
  [show_counter]=show_counter
  [quantity]=quantity
  [segment]=segment
  [prod_name]=prod_name
  [operation_name]=operation_name
  (eventEmitter)="goBack($event)"
></app-footer-tab>
